* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;		
}
:root {
	--color-bg: #c9d6bb;
	--color-brand: #007c85;
	--color-brand-gray: #46777c;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

body {
	background-color: var(--color-bg);
	font-size: 20px;
}

.theme-microblog {
	--color-bg: #b1a8b1;
	--color-brand: #32384d;
	--color-brand-gray:#323a3c;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

.theme-art {
	--color-bg: #eee2d4;
	--color-brand: #7a5d57;
	--color-brand-gray:#b38069;
	--color-accent: #a3594f;
	--color-text: #00200d;
	background-image: url(../images/recycled-paper.webp);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.theme-oc {
	--color-bg: #1e2429;
	--color-brand: #e34a0e;
	--color-brand-gray:#35aaee;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

.theme-fandom {
	--color-bg: #c4d1d4;
	--color-brand: #747f8e;
	--color-brand-gray:#2b3548;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

.theme-limbus {
	--color-bg: #541c1c;
	--color-brand: #fff7f3;
	--color-brand-gray:#350b0b;
	--color-accent: #007c85;
	--color-text: #00200d;
	background-image: url(../sub-fandom/mephis.webp);
    background-size: auto 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.theme-prsk {
	--color-bg: #ffd7d7;
	--color-brand: #e9569a;
	--color-brand-gray:#c98f8f;
	--color-accent: #7cecf4;
	--color-text: #00200d;
	background-image: url(../sub-fandom/prsk/doa.webp);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	display: block;
	background-color: var(--color-brand-gray);
	padding: 15px 30px;
	border: 1px solid var(--color-brand-gray);
	border-radius: 20px;
	text-align: center;
	margin-top: 30px;
	color: white;
} 

a{
	text-decoration: none;
	color: var(--color-brand);
}

a:hover{
	color: var(--color-accent);
	text-decoration: underline;
}

ul { margin-left: 1rem; padding-left: 1rem; }

li { 
margin-left: 0.2rem; 
margin-bottom: 10px;}

.sidebar {
	display: float;
	position: fixed;
	top: 10%;
	left: 0;
	width: 20%;
	padding-right: 20px;
	padding-left: 20px;
	border-right: 5px solid var(--color-brand);
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
	overflow: hidden;
	color: var(--color-brand);
}

.sidebar2 {
	display: float;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 15%;
}
	
.sidebar ul{
	list-style-type: none;
	font-family: "Futura", "Arial", sans-serif;
}

.sidebar li{
	margin-bottom: 20px;
}

.button{
	width: 45%;
	display: block;
	margin: 0 auto;
	background-color: var(--color-brand);
	padding: 10px 20px;
	overflow: hidden;
	text-align: center;
	border: var(--color-brand) solid 1px;
	border-radius: 20px;
}

.button a{
	color: white;
}

h3 {
	color: var(--color-text);
	margin-bottom: 10px;
}

p{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: justify;
}

.page {
	margin-left: 23%;
	margin-right: 15%;
}

.main {
	background-color: white;
	margin-top: 30px;
	border: 2px dashed var(--color-brand-gray);
	border-radius: 20px;
	padding: 10px 20px;
}

.main-s{
	background-color: white;
	margin-top: 30px;
	border: 5px solid var(--color-brand-gray);
	border-radius: 20px;
	padding: 10px 20px;
	height: 200px;
	overflow: scroll;
	scrollbar-color: var(--color-brand-gray) white;
}

img {
	display: block;
	max-width: 90%;
	height: auto;
	object-fit: contain;
	margin: 0 auto;
}

.stamp {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.stamp img {
	display: inline;
	width: auto;
}
.fan img {
	display: block;
	margin: 15px;
	width: 25%;
}

.gallery {
	margin-top: 30px;
	margin-left: 23%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.photo {
	width: 47%;
	align-content: center;
	display: block;
	background-color: white;
	border: 2px dashed var(--color-brand-gray);
	border-radius: 20px;
	padding: 20px;
	overflow: hidden;
	margin-right: 20px;
	margin-bottom: 20px;
}

.gcard {
	margin-left: 23%;
	margin-right: 2.8%;
	background-color: white;
	margin-top: 30px;
	border: 2px dashed var(--color-brand-gray);
	border-radius: 20px;
	padding: 10px 20px;
}

.sub {
	text-align: center;
	font-style: italic;
}

iframe {
	width: 90%;
	height: auto;
	aspect-ratio: 16/9;
}

footer {
	margin-top: 50px;
}

footer p {
	text-align: center;
}

.al {
	color: #35aaee;
}
