* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;		
}
:root {
	--color-bg: #c9d6bb;
	--color-brand: #007c85;
	--color-brand-gray: #46777c;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

body {
	background-color: var(--color-bg);
}

.theme-microblog {
	--color-bg: #b1a8b1;
	--color-brand: #483297;
	--color-brand-gray:#323a3c;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

.theme-art {
	--color-bg: #eee2d4;
	--color-brand: #7a5d57;
	--color-brand-gray:#b38069;
	--color-accent: #a3594f;
	--color-text: #00200d;
	background-image: url(../images/recycled-paper.webp);
    background-size: contain;
    background-repeat: repeat;
	background-attachment: fixed;
}

.theme-oc {
	--color-bg: #1e2429;
	--color-brand: #e34a0e;
	--color-brand-gray:#35aaee;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

.theme-fandom {
	--color-bg: #c4d1d4;
	--color-brand: #747f8e;
	--color-brand-gray:#2b3548;
	--color-accent: #a3594f;
	--color-text: #00200d;
}

.theme-limbus {
	--color-bg: #541c1c;
	--color-brand: #350a05;
	--color-brand-gray:#350b0b;
	--color-accent: #007c85;
	--color-text: #00200d;
	background-image: url(../sub-fandom/mephis.webp);
    background-size: auto;
    background-position: center;
	background-attachment: fixed;
}

.theme-prsk {
	--color-bg: #ffd7d7;
	--color-brand: #e9569a;
	--color-brand-gray:#c98f8f;
	--color-accent: #7cecf4;
	--color-text: #00200d;
	background-image: url(../sub-fandom/prsk/doa.webp);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

header {
	display: block;
	background-color: var(--color-brand-gray);
	padding: 15px 30px;
	border: 1px solid var(--color-brand-gray);
	border-radius: 20px;
	text-align: center;
	margin-top: 30px;
	color: white;
	overflow: hidden;
} 

a{
	text-decoration: none;
	color: var(--color-brand);
}

a:hover{
	color: var(--color-accent);
	text-decoration: underline;
}

ul:not(.sidebar ul) { margin-left: 1rem; padding-left: 1rem; }

li:not(.sidebar li) { 
	margin-left: 0.2rem; 
	margin-bottom: 10px;
}


.sidebar {
	display: block;
	width: 100%;
	padding: 5px 20px;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
	color: white;
	text-align: center;
}

.sidebar2 {
	display: block;
	margin: 0 auto;
	width: 40%;
	padding-top: 30px;
}
	
.sidebar ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	font-family: sans-serif;
	flex-wrap: wrap;
}

.sidebar li{
	width: 45%;
	display: block;
	background-color: var(--color-brand);
	padding: 10px 20px;
	margin: 5px;
	overflow: hidden;
}

.button {
	width: 45%;
	display: block;
	margin: 0 auto;
	background-color: var(--color-brand);
	padding: 10px 20px;
	overflow: hidden;
	text-align: center;
	border: var(--color-brand) solid 1px;
	border-radius: 20px;
}

.button a{
	color: white;
}

.sidebar li:hover{
	background-color: var(--color-accent);
	color: white;
	text-decoration: underline;
}

.sidebar a{
	color: white;
}
	
h3 {
	color: var(--color-text);
	margin-bottom: 10px;
}

p{
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: justify;
}

.page, .gallery {
	width: 90%;
	margin: 0 auto;
}
.main, .photo{
	background-color: white;
	margin-top: 30px;
	border: 2px dashed var(--color-brand-gray);
	border-radius: 20px;
	padding: 10px;
}

.main-s{
	background-color: white;
	margin-top: 30px;
	border: 5px solid var(--color-brand-gray);
	border-radius: 20px;
	padding: 10px 20px;
	height: 200px;
	overflow: scroll;
	scrollbar-color: var(--color-brand-gray) white;
}


.photo {
	margin-top: 20px;
	padding: 20px;
}

.gcard {
	display: block;
	width: 90%;
	background-color: white;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px dashed var(--color-brand-gray);
	border-radius: 20px;
	padding: 10px;
	
}

img {
	display: block;
	max-width: 90%;
	object-fit: fill;
	margin: 0 auto;
}

.stamp {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.fan img {
	display: block;
	margin: 5px;
	width: 50%;
}

.stamp img {
	display: inline;
	width: auto;
}

.sub {
	text-align: center;
	font-style: italic;
}

iframe {
	width: 90%;
	height: auto;
	aspect-ratio: 16/9;
}

footer {
	margin-top: 30px;
}

footer p {
	text-align: center;
}

.al {
	color: #35aaee;
}